.projectCardContainer{
    position: relative;
    max-height: 400px;
    max-width: 300px;
    height: 400px;
    width: 100%;
    background-color: transparent;
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 14px;
}

/* Remove margin left when screen get small so
    cards are centered*/
@media only screen and (max-width: 396px) {
    .projectCardContainer{
    margin-left: 0px;
    }
}

/* Projects Card when no hover*/
.hoverOff{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    
}
/* Projects Card when hover*/
.hoverOn{
    display: none;
    height: 400px;
    width: 300px;
    background-color: #232f46;
    border-radius: 14px;
    z-index: 1000;
    border: solid #232f46;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    

/* Fade in hoverOn div */
    opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}
/* Fade in hoverOn div */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Show noover when hovered*/
.projectCardContainer:hover > .hoverOn{
    display: flex;
}

.projectImage{
    width: 90%;
    height: 85%;
    border-radius: 10px;
}

.cardTitle{
    margin: 0px;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.cardParagraph{
    color: white;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
}
.visitWebsiteLink{
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    border: solid;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    background-color: transparent;
    border-color: #d75474;
    border-width: 2px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.visitWebsiteLink:hover{
    background-color: #d75474;
}


